<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Login | Join the fun</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="profile_container">
      <h1>YOUR POSTS</h1>
      <hr />
      <br />
      <% userPosts.map((post)=>{ %>
      <h2 class="pt"><%= post.title %></h2>
      <p class="pm"><%= post.post_msg %></p>
      <button
        class="post_delete"
        id="<%= post._id %>"pointer
        onclick="handlePostDelete(this)"
      >
        Delete</button
      >&nbsp;

      <a class="post_edit" href="/user/edit?id=<%= post._id %>">Edit</a>

      <hr />
      <% }) %>
    </div>
  </body>
  <script>
    const handlePostDelete = (btn) => {
      const id = btn.getAttribute("id");
      const uri = `https://mysocialexpress.vercel.app/user/profile/post?id=${id}`;

      const option = {
        method: "DELETE",
      };

      fetch(uri, option)
        .then((result) => {
          console.log(result);
          document.location.reload();
        })
        .catch((err) => {
          console.log(err);
        });
    };
  </script>
</html>
